In [4]:
string = "Hello World"
print(string)

Hello World

In [5]:
a = int(input())
if a%2 == 1:
    print("Weird")
elif a%2 ==0 and 2<= a <=5:
    print("Not Weird")
elif a%2 ==0 and 6<=a <=20:
    print("Weird")
else:
    print("Not Weird")

1234
Not Weird

In [6]:
a = 3
b = 2
print(a+b)
print(a-b)
print(a*b)

5
1
6

In [7]:
a=4
b=3
print(a//b)
print(a/b)

1
1.3333333333333333

In [8]:
a = int(input())
for i in range(0,a):
 print(i*i)

34
0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089

In [9]:
def leap(year):
    leap = False
    if year%4 == 0:
        if year%100 == 0:
            if year%400 == 0:
                leap = True
            else:
                leap = False
        else:
            leap = True
    else:
        leap = False
    
    
    
    return leap

In [12]:
leap(2001)

False

In [14]:
year = int(input())
print(leap(year))

2006
False

In [15]:
if __name__ == '__main__':
    a = int(input())
    for i in range (1,n+1):
        print(i,end='')

89
1234567891011121314151617181920212223242526272829303132333435363738394041424344454647484950515253545556575859606162636465666768697071727374757677787980818283848586878889